<div id="main-photo">
  <div id="top_title_text">
    <h2>Welcome to the portfolio of Cody Bouscaren</h2>
  </div>
  <div id="bottom_title_text"
    <h1 > Web Developer </h1>
  </div>
</div>


<div class="container">
  <div id="welcome-box">
    <h1>Web Developer, Filmmaker, Problem Solver</h1>
      <p>Asymmetrical crucifix gastropub, <br>sartorial ennui iPhone Thundercats fingerstache <br> party lomo craft beer sustainable. Quinoa fanny pack Helvetica Echo Park irony, hella ugh organic chillwave. <br>Synth photo booth +1 paleo Odd Future wolf tilde, beard shabby chic lumbersexual XOXO 8-bit crucifix PBR&B irony</p>
  </div>
</div>

  <div class="container">
    <div class="row first-row">
      <div class="col-sm-6 centered">
        <img src="/assets/thumbnail.jpeg" class="thumbnail-image"/>
      </div>
      <div class="col-sm-6 centered">
        <img src="/assets/calorie_counting.jpg" class="calories-image"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 centered thumbnail-div">
        <img src="/assets/thumbnail.jpeg" class="thumbnail-image"/>
      </div>
      <div class="col-sm-6 centered">
        <img src="/assets/calorie_counting.jpg" class="calories-image"/>
      </div>
    </div>
  </div>
</div>
