<h1>Coding Skills</h1>


<ul>
  <% @coding_skills.each do |skill| %>
  <li><%=  link_to skill.name, coding_skill_path(skill) %> </li>
  <% end %>
</ul>

<%= link_to "Add New Skill", new_coding_skill_path %>


      <p><%= link_to "Recommendations", recommendations_path, id: "best_of_link", class: "btn btn-success", remote: true %></p>
      <br><br>
