<div id="main-photo">
  <h2 id="text_over_main_photo"></h2>
</div>


<div id="index_content">

<div class="row">
  <h1>Web Developer, Filmmaker, Problem Solver</h1>
  <div id="welcome-box">
<p>Asymmetrical crucifix gastropub, sartorial ennui iPhone Thundercats fingerstache art party lomo craft beer sustainable. Quinoa fanny pack Helvetica Echo Park irony, hella ugh organic chillwave. Synth photo booth +1 paleo Odd Future wolf tilde, beard shabby chic lumbersexual XOXO 8-bit crucifix PBR&B irony</p>  </div>
  <br><br>
  <div class="container">
    <div class="row first-row">
      <div class="col-sm-6 centered">
        <img src="/assets/thumbnail.jpeg" class="thumbnail-image"/>
      </div>
      <div class="col-sm-6 centered">
        <img src="/assets/calorie_counting.jpg" class="calories-image"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 centered thumbnail-div">
        <img src="/assets/thumbnail.jpeg" class="thumbnail-image"/>
      </div>
      <div class="col-sm-6 centered">
        <img src="/assets/calorie_counting.jpg" class="calories-image"/>
      </div>
    </div>
  </div>



  


</div>
</div>
